    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>IIIT SECURITY-Login</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&family=Pacifico&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css\login.css">
    </head>

    <body>
        <!-- Navigation Bar -->

        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">IIIT SECURITY</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Login</a>
                        </li>

                    </ul>
                </div>

            </div>
        </nav>

        <!-- Login Section -->

        <div id="login-sec">
            <form action="/login" method="post">
                <% if(error) { %>
                    
                    <div class="alert alert-danger" role="alert">
                        Wrong username or password
                    </div>
                <% } %>
                <div class="login-form">

                    <label for="idInput" class="form-label">User ID</label>
                    <input type="text" class="form-control" name="userID" aria-describedby="idHelp">
                    <div id="idHelp" class="form-text">Example: B319027</div>

                </div>

                <div class="login-form">

                    <label for="passwordInput" class="form-label">Password</label>
                    <input type="password" class="form-control" name="userPassword">
                    <a href="forgot-pass.html" class="form-text">Forgot Password?</a>
                </div>

                <button type="submit" class="btn btn-lg btn-primary">Login</button>
            </form>
        </div>



    </body>

    <footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </footer>

    </html>